<div class="work-page">
  <h1>
    WORK
  </h1>
  <div class="fade-children" ng-animate-children>
    <% data.work.descriptions.each do |w| %>
      <div
        ng-if="isCurrentPage['/work']"
        class="work-container enter media panel panel-default">
        <div class="panel-body">
          <div class="media-left">
            <img class="media-object thumbnail loading-image" src="/images/<%= w.image %>" width="128" height="128">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= w.name %>
              <small>
                <%= w.position %>
              </small>
              <small>
                <%= "#{w.start_date} - #{w.end_date} | #{w.location}" %>
              </small>
            </h4>
            <%= w.text %>
          </div>
        </div>
        <% if (w.extras) then %>
          <div class="extras panel-footer">
            <% w.extras.each_with_index do |extra, index| %>
              <% case extra.type %>
              <% when "link" %>
                <a
                  href="<%= extra.href %>"
                  target="_blank"
                  class="btn btn-primary btn-sm">
                  <%= extra.label %>
                  <i class="fa fa-external-link"></i>
                </a>
              <% when "embed" %>
                <% embedToggleVar = "embedToggle#{index}" %>
                <button
                  ng-init="<%= embedToggleVar %> = false"
                  ng-click="<%= embedToggleVar %> = !<%= embedToggleVar %>"
                  class="btn btn-primary btn-sm">
                  <%= extra.label %>
                  <i class="fa fa-chevron-down"></i>
                </button>
              <% end %>
            <% end %>

            <% w.extras.each_with_index do |extra, index| %>
              <% next unless extra.type == "embed" %>
              <% embedToggleVar = "embedToggle#{index}" %>
              <div ng-if="<%= embedToggleVar %>">
                <div ng-include="'<%= extra.content_file %>'"></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
