<!doctype html>
<html ng-app="homepageApp">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "lyle:~$" %></title>

    <% pages = get_templates("pages") %>
    <% pages.each do |page_partial| %> 
      <% wrap_layout :ng_template_layout do %>
        <%= partial_with_layout page_partial, :page_layout %>
      <% end %>
    <% end %>

    <%= stylesheet_link_tag "all" %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <%= javascript_include_tag "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/#/" class="navbar-brand">
            lyle:~$
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/#/work">
                Work
              </a>
            </li>
            <li>
              <a href="/#/resume">
                Resume
              </a>
            </li>
            <li>
              <a href="/#/about">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-container">
      <div class="reveal-animation" ng-view></div>
    </div>
  </body>
</html>
